{% extends "base.html" %}

{% block content %}
    <h2 class="mb-4">Trigger Logs</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Roll No</th>
                    <th>Action</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                {% for log in query %}
                    <tr>
                        <td>{{ log.tid }}</td>
                        <td>{{ log.rollno }}</td>
                        <td>{{ log.action }}</td>
                        <td>{{ log.timestamp }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}